<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create note</title>
<link rel="stylesheet" href="/styles/form.css">
</head>
<body>
	<div id="my_form">
		<h1>Create note</h1>
       
		<form th:name="note" action="/notes/add" method="post">
		   
			<p>
				<input type="text" th:name="name" placeholder="Enter note name">
			<p>
				<textarea rows="5" cols="" th:name="description" placeholder="Enter message">
	</textarea>
	 <p>
				<input type="text" th:name="folder.name" placeholder="Enter folder name" >
	<p>
				<input type="submit" value="Create">
		</form>
	</div>
</body>
</html>