<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Info file</title>
<link rel="stylesheet" href="/styles/user_form.css">
</head>
<body>
<div class="my_form">
	<h1>Create user</h1>
	<form action="/users/add" th:name="user" method="post">
		<p>
			Name <input type="text" th:name="name" placeholder="Enter name">
		</p>
		<p>
			Age<input type="number" th:name="age" placeholder="Enter age">
		</p>
		<p>
		    Email <input type="email" th:name="email" placeholder="Enter email">
		</p>
		<p>
			Male <input type="radio" th:name="gender" th:value="male">
			Female <input type="radio" th:name="gender" th:value="female">
		</p>
		<p>
			<input type="submit" value="Create">
		</p>
	</form>
	</div>
</body>
</html>