@charset "UTF-8";

#my_form {
	background: rgb(141, 199, 199);
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 10px;
	border: 2px solid rgb(0, 0, 191);
	border-radius: 15px;
}

#send_form {
	background: rgb(141, 199, 199);
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 10px;
	border: 2px solid rgb(0, 0, 191);
	border-radius: 15px;
	
}

input[type=text], textarea {
	width: 80%;
	resize: none;
}

input[type=submit] {
	background: rgb(255, 128, 0);
	color: white;
	border: none;
	width: 140px;
	height: 40px;
	font-size: 15px;
}

input[type=submit]:hover {
	background: rgb(255, 149, 43);
	color: white;
	border: none;
	width: 140px;
	height: 40px;
	font-size: 15px;
}